<div
  class="w-full h-full flex flex-col justify-center items-center px-10"
>
  <div class="w-2/4">
    <div class="base">
      <div class="container">
        <div class="text">
          
        </div>
      </div>
      <div class="arrow">
        <i class="fa-solid fa-chevron-down hoverPointer" onclick="toggleMenu()"></i>
      </div>
    </div>
    <div class="menu hidden">
      <div class="menuEntry">
        <p>a</p>
        <input type="text" value="idOfTheRecord_1" class="hidden">
      </div>
    </div>
  </div>
  <button class="btn btn-wide btn-success" onclick="getChosenEntries()">
    getValues
  </button>
</div>
<script src="js/select.js"></script>
